@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Poppins:wght@800&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Passion+One&family=Poppins:wght@800&family=Roboto:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-image: url('assets/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: #000;
}

.header p {
  color: #FFF;
  margin: 0;
  padding: 23px 50px;
  font-family: 'Passion One', sans-serif;
  font-size: 30px;
  transition: 0.4s;
  cursor: pointer;
}

.header a {
  text-decoration: none;
}

.header p:hover {
  background-color: #353535;
}

.main {
  display: flex;
  width: 100%;
  justify-content: center;
  font-family: 'Luckiest Guy', sans-serif;
}

.container {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  background-color: #FFF;
  width: 90%;
  max-width: 750px;
  margin: 0 auto;
  box-sizing: border-box;
  min-height: calc(100vh - 80px);
  position: relative;
}

.container h1 {
  padding: 16px;
  font-size: 50px;
  margin: 90px 0px 50px 0px;
}

.cat-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 735px;
  height: 400px;
  background-color: #D9D9D9;
  border-radius: 15px;
  margin-bottom: 60px;
  font-size: 36px;
}

.image-text {
  font-family: 'Passion One', sans-serif;
  font-size: 44px;
  padding: 26px;
}

.image-text-cat-created {
  font-family: 'Passion One', sans-serif;
  font-size: 44px;
  padding: 26px;
}

.container a {
  color: #696969;
  text-decoration: none;
  transition: 0.4s;
}

.container a:hover {
  text-decoration: none;
  color: #969696;
}

.cat-image {
  width: 685px;
  height: 350px;
  border-radius: 15px;
  text-align: center;
  line-height: 350px;
  font-family: 'Passion One', sans-serif;
  font-size: 28px;
}

.container button {
  background-color: #000;
  padding: 25px;
  font-family: 'Passion One', sans-serif;
  font-size: 50px;
  color: #FFF;
  cursor: pointer;
  border-radius: 15px;
  width: 360px;
  height: 115px;
  transition: 0.4s;
  margin-bottom: 39px;
}

.container button:hover {
  background-color: #353535;
}

.container button[disabled] {
  background-color: #353535;
  cursor: not-allowed;
}

.loader {
  border: 6px solid #FFF;
  border-top: 6px solid #000;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and (max-width: 810px) {
  .header {
    flex-direction: column;
    height: auto;
  }

  .header a {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #999;
  }

  .header p {
    padding: 15px 0;
  }

  .cat-container {
    width: 90%;
    height: auto;
    max-width: 90%;
    margin-bottom: 30px;
    padding: 30px;
    font-size: 24px;
    border-radius: 10px;
  }

  .cat-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    font-size: 12px;
  }

  .container button {
    width: 80%;
    height: auto;
    font-size: 24px;
    padding: 15px;
    margin-bottom: 20px;
  }
}
